* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	font-family: 'Cutive', serif;
}

button {
	padding: 10px;
	background-color: #92032e;
	color: skyblue;
	border-radius: 8px;
	border: 1px solid #92032e;
}

#app, #practice {
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: lightgrey;
	border-radius: 8px;
	width: 90%;
	padding-top: 20px;
}

a {
	margin: 30px 0;
}

.player-output {
	padding: 20px;
}

ul {
	margin-top: 20px;
}

li {
	padding-top: 20px;
	list-style-type: none;
}